<!DOCTYPE html>
<html>
  <head>
    <title>My Comics</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0,user-scalable=0" />
    <link rel="icon" href="/superhero.png">
  </head>

  <body>
    <div class="container">
      <div class="text-center">
        <a href="/">
          <img class="p-3" src="/superhero.png" width="100">
        </a>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
